fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pypdf==4.3.1
pikepdf==9.2.1
pdf2docx==0.5.8
pdf2image==1.17.0
Pillow==10.4.0
img2pdf==0.5.1
reportlab==4.2.2
tabula-py==2.9.3
pytesseract==0.3.13
pdfplumber==0.11.4
pdfkit==1.0.0
openpyxl==3.1.5
gunicorn==22.0.0
python-pptx==1.0.2
